/* some style */

img {
    max-height: 200px;
    max-width: 200px;
}

.frame {
    display: inline;
    border: 1px solid black;
    float: left;
    height: 240px;
}

.center {
    text-align: center;
}

.tiny-font {
    font-size: 8px;
}

.randomizer, .sequencer {
    text-align: center;
}

hr {
    clear: both;
}